mixin certificates-slider ()

    +b('section')(id="certificates-slider").certificates-slider
            +e.content
                +e.title Заготовка лома черных металлов
                +e.subtitle Специализация заготовка переработка реализация лома и отходов черных металлов
                +e.wrap 
                    +e.mail
                    +e.text Обратиться к нам
                +e.slider 
                    +e.swap
                        +e.left
                            img(src='./images/prev.svg')
                    +e.swap
                        +e.rigth
                            img(src='./images/next.svg')
            +e.list
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-1.png')
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-2.png')
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-3.png')
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-1.png')
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-2.png')
                +e.item
                    +e.main_image
                        img(src='./images/slider_slide-3.png')