mixin contact()

    +b('section').contact
        .container
            +e.wrap
                +e.title Контакты
                +e.subtitle Центральный офис 
                +e.text 308012 г. Белгород, ул. Костюкова 46 "Б" офис 313
                +e.subtitle Бухгалтерия
                +e.text 8 (4722) 22-41-41
                +e.text 8-903-886-17-14
                +e.text-mail bel_titan@mail.ru
                +e.subtitle Коммерческий отдел
                +e.text 8-906-606-41-41
                +e.text-mail bel_titan@bk.ru
                +e.subtitle Отдел заготовки лома цветных металлов
                +e.text 8-905-171-77-82
                +e.subtitle Отдел заготовки лома черных металлов
                +e.text 8-905-171-32-44
            +e.image 
                img(src='/images/contact_bg.png')