.footer
    position fixed
    bottom 0
    padding w(60) 0 w(50)
    width 100%
    height w(135)
    background-color #181818

    &__wrap
        display flex
        flex-direction row
        justify-content space-between

    &__content
        display flex
        flex-direction row

    &__text
        font-family 'Roboto'
        font-style normal
        font-weight 400
        font-size 14px
        line-height 20px
        letter-spacing 0.04em
        color #E0E0E0

        &:first-child
            width w(235)

        &:nth-child(2)
            padding-left w(160)

    &__tagline
        padding w(5) w(40) 0 0
        font-family 'Roboto'
        font-style normal
        font-weight 400
        font-size 14px
        line-height 20px
        letter-spacing 0.04em
        color #E0E0E0

        &::after
            content ''
            position relative
            right w(-20)
            border w(1) solid #4E463E

    &__logo
        width w(105)
        img
            width 100%
