mixin footer()

    +b('section').footer
        .container
            +e.wrap
                +e.content
                    +e.text Copyright © 2022 Объединенная металлоломная компания
                    +e.text Политика конфиденциальности
                +e.content
                    +e.tagline Продвижение сайтов
                    +e.logo 
                        img(src='/images/logo_webstyle.png')
        