.company
    background-color #181818
    width 100%
    height 100vh
    padding-top w(95)

    &__wrap
        display flex
        flex-direction row
        justify-content flex-start

    &__content
        &:last-child
            padding-left w(125)
            display flex
            flex-direction column

    &__image
        margin-top w(35)
        width w(580)
            img
                width 100%

    &__inform
        position absolute
        top w(710)
        left w(320)

    &__inform-info
        width w(310)
        font-family 'Roboto'
        font-style normal
        font-weight 400
        font-size 14px
        line-height 20px
        text-align center
        letter-spacing 0.02em
        color #E0E0E0

    &__inform-button
        margin-top w(30)
        margin-left w(40)
        width w(235)
        height w(50)
        font-family 'Roboto'
        font-style normal
        font-weight 700
        font-size 14px
        line-height 20px
        letter-spacing 0.02em
        text-transform uppercase
        color #181818
        background #FFB100
        border-radius 4px
        border none

    &__title
        font-family 'Roboto'
        font-style normal
        font-weight 600
        font-size 46px
        line-height 54px
        letter-spacing 0.04em
        text-transform uppercase
        color #F2F2F2
        padding-top w(165)
        padding-bottom w(40)

    &__line
        margin-top w(60)
        margin-bottom w(60)

    &__subtitle
        font-family 'Roboto'
        font-style normal
        font-weight 600
        font-size 46px
        line-height 54px
        letter-spacing 0.04em
        text-transform uppercase
        color #F2F2F2
        padding-bottom w(40)

    &__text
        width w(630)
        font-family 'Roboto'
        font-style normal
        font-weight 400
        font-size 16px
        line-height 24px
        letter-spacing 0.02em
        color #E0E0E0

    &__item-text
        font-family 'Roboto'
        font-style normal
        font-weight 400
        font-size 16px
        line-height 24px
        letter-spacing 0.02em
        color #E0E0E0

    &__list
        width w(690)
        height w(170)
        display flex
        flex-direction row
        justify-content flex-start

    &__item
        display flex
        flex-direction column
        justify-content space-between
        padding-right w(80)

        &:last-child
            padding-right 0
