mixin company()

    +b('section').company
        .container
            +e.wrap
                +e.content
                    +e.image
                        img(src='/images/company_image.png')
                    +e.inform
                        +e.inform-info Если у вас возникли вопросы и вы желаете связаться с нами, то нажмите на кнопку «обратиться к нам» и наши специалисты свяжутся с вами в ближайшее время
                        +e('button').inform-button Обратиться к нам
                +e.content
                    +e.title О компании
                    +e.text Крупный ломозаготовительный холдинг, образованный в результате слияния лидирующих ломозаготовительных компаний Белгородской области
                    +e('hr').line
                    +e.subtitle Возможности
                    +e.list
                        +e.item
                            +e.item-text Вывоз металлолома<br> собственным<br> транспортом
                            +e.item-text Демонтаж<br> металлоконструкций
                        +e.item
                            +e.item-text Развитая сеть<br> ломозаготовительных<br> площадок
                            +e.item-text Электронное<br> взвешивание
                        +e.item
                            +e.item-text Работа со всеми<br> способами оплаты
                            +e.item-text Экспресс анализ<br> металлов
                        
                        
                        
                        